            <table border="1" width="650px" cellpadding="5" cellspacing="0">
                <tr>
                    <td  align="right">List name:</td>
                    <td align="left"><b>{LIST_NAME}</b></td>
                </tr>
                <tr>
                    <td width="20%" align="right">Business date:</td>
                    <td align="left"><b>{BUSINESS_DATE}</b></td>
                </tr>
                <tr>
                    <td width="20%" align="right">Printed by:</td>
                    <td align="left">{PRINTED_BY}</td>
                </tr>
                <tr>
                    <td width="20%" align="right">Printed date:</td>
                    <td align="left">{PRINTED_DATE}</td>
                </tr>
            </table>
